<!--
  ~ Copyright (c) 2011 TWIMPACT UG (haftungsbeschraenkt). All rights reserved.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>TWIMPACT Atmosphere Test</display-name>

  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>twimpact.CrossOriginFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/1/*</url-pattern>
  </filter-mapping>

  <servlet>
    <description>AtmosphereServlet</description>
    <servlet-name>AtmosphereServlet</servlet-name>
    <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
      <param-value>twimpact.rest.auth.basic.BasicAuthResourceFilterFactory</param-value>
    </init-param>
    <init-param>
      <param-name>org.atmosphere.cpr.dropAccessControlAllowOriginHeader</param-name>
      <param-value>true</param-value>
    </init-param>
    <!--<init-param>-->
      <!--<param-name>org.atmosphere.websocket.WebSocketProcessor</param-name>-->
      <!--<param-value>org.atmosphere.websocket.protocol.EchoProtocol</param-value>-->
      <!--&lt;!&ndash;<param-value>twimpact.ely.atmosphere.ElyWebSocketProtocol</param-value>&ndash;&gt;-->
    <!--</init-param>-->
    <init-param>
      <param-name>org.atmosphere.useWebSocket</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>org.atmosphere.useNative</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtmosphereServlet</servlet-name>
    <url-pattern>/1/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
